.header.account-header .header__button-block {
  color: var(--white);
}
.header.account-header .header__button-block svg {
  fill: rgba(225, 225, 225, 0.3);
}
.header.account-header .header__button-block:hover svg {
  fill: rgba(225, 225, 225, 0.5);
}
.video-header.account-header {
  top: 33px;
}
.video-header .header__button-block {
  text-transform: none;
}
@media (max-width: 550px) {
  .video-header .header__block {
    height: 68px;
    padding: 8px 8px 8px 13px;
  }
}
