.videos-result {
}
.videos-result__container {
  width: 100%;
  margin: 33px auto 0;
  max-width: 1190px;
  padding: 0 15px;
}
.videos-result__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 270px;
}
.videos-result__item {
  width: 260px;
  height: 464px;
  position: relative;
  background-color: transparent;
  border-radius: 12px;
  overflow: hidden;
}
.videos-result__item::after {
  display: block;
  content: '';
  width: 100%;
  height: 231px;
  position: absolute;
  bottom: 0;
  z-index: 1;

  background-image: url(../../img/videobg.svg);
  background-size: cover;
}
.videos-result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.videos-result__info {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: -6px;
  padding: 0 12px 10px 15px;
  align-items: center;
  z-index: 2;
  width: 100%;
}
.videos-result__author {
  display: flex;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 14px;
}

.videos-result__author-nickname {
  display: block;
}
.videos-result__author-city {
  display: block;
}
.videos-result__author-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--pink);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.videos-result__author-icon span {
  font-family: 'myfontRegular';
}
.videos-result__author-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videos-result__author-nickname {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: var(--white);
  max-width: 90px;
  white-space: nowrap;
  /* text-overflow: ellipsis;
  overflow: hidden;
  font-family: 'myfontBold'; */
}
.videos-result__author-city {
  font-family: 'myfontLight';
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
}
.videos-result__likes {
  display: flex;
  align-items: center;

  margin-top: 3px;
}
.videos-result__likes img {
  width: 18px;
  height: 17px;
}
.videos-result__likes span:nth-child(2) {
  margin-left: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
}
.videos-result__song {
  width: 106px;
}
.videos-result__song-info {
  display: flex;
  align-items: center;
}
.videos-result__song-img {
  border-radius: 4px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin-right: 8px;
}
.videos-result__song-singer {
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  font-family: 'myfontExtraBold';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.videos-result__song-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  font-family: 'myfontLight';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.videos-result__play {
  position: absolute;
  border-radius: 50%;
  background-image: url(../../img/play-circle.svg);
  width: 70px;
  height: 70px;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: all 0.25s ease-in;
}
.videos-result__play a {
  padding: 20px 15px 15px 26px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.videos-result__play:hover {
  background-color: #fff;
}
.videos-result__play img {
  width: 29px;
  height: 32px;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 1200px) {
  .videos-result__list {
    gap: 20px;
  }
  .videos-result__item {
    width: 245px;
    height: 438px;
  }
}
@media screen and (max-width: 650px) {
  .videos-result__list {
    justify-content: space-around;
  }
  .videos-result__container {
    margin-top: 21px;
  }
  .videos-result__item {
    width: 159px;
    height: 285px;
  }
  .videos-result__author-icon {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .videos-result__author-nickname {
    font-size: 10px;
    line-height: 1.25;
  }
  .videos-result__author-city {
    font-size: 8px;
    line-height: 1.25;
  }
  .videos-result__play {
    width: 43px;
    height: 43px;
    background-size: cover;
  }
  .videos-result__play a {
    padding: 13px 7px 9px 15px;
  }
  .videos-result__play img {
    width: 17px;
    height: 19px;
  }
  .videos-result__song-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .videos-result__item {
    width: 240px;
    height: 390px;
    border-radius: 10px;
  }
  .videos-result__info {
    padding: 0 9px 7px 8px;
    bottom: 0;
  }
  .videos-result__song {
    width: 69px;
  }
  .videos-result__song-singer {
    font-size: 9px;
    line-height: 1;
  }
  .videos-result__song-name {
    font-size: 9px;
    line-height: 1;
  }
  .videos-result__likes img {
    width: 12px;
    height: 11px;
  }
  .videos-result__likes span:nth-child(2) {
    font-size: 8px;
    line-height: 1;
  }
}
