/*@import url(https://db.onlinewebfonts.com/c/10851f277d913a0868eb0ecf5e01fb29?family=Circe+Rounded+DM+Web);*/
.login {
  /* font-family: 'Circe Rounded DM Web'; */
  font-weight: 400;
  font-size: 30px;
}
.login__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13333;
  margin-bottom: 23px;
  text-align: center;
  color: var(--darkBlue);
}
.login__label {
  width: 100%;
}
.login__label input {
  font-family: 'myfontRegular';

  background-color: var(--white);
  height: 47px;
  width: 100%;
  border-radius: 14px;
  margin-bottom: 10px;
  padding: 13px 17px;
  font-family: 'Circe Rounded DM', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  color: #000;
  -webkit-transition: 0.1s;
}
.login__label input:active,
.login__label input:focus,
.login__label input:focus-visible {
  border: 2px solid var(--darkBlue) !important;
  -webkit-border: 2px solid var(--darkBlue) !important;
  outline: none;
}
.login__label input::placeholder {
  font-family: 'myfontRegular';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.4);
}
.login__label-check {
  position: relative;
}
.login__check-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: relative;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  display: block;
}
.checkmark::after {
  position: absolute;
  display: none;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 8px;
  background-image: url(../img/loginVector.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.25s ease-in-out;
}
.login__check-input:checked ~ .checkmark {
  background-color: #0647c7;
  border-color: #0647c7;
}
.login__check-input:checked ~ .checkmark::after {
  display: block;
  z-index: 4;
}
.login__check-input:checked ~ p {
  color: #0647c7;
}
.login__check-input:checked ~ p a {
  color: #0647c7;
}
.form {
  width: 560px;
  height: min-content;
  min-height: 270px;
  padding: 52px 88px 63px;
  border-radius: 14px;
  background-color: var(--blue);
}
.login__agree {
  margin-top: 7px;
}
.login__agree p {
  font-family: 'myfontRegular';
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  text-align: initial;
  width: 364px;
  margin-left: 7px;
  display: inline-block;
}
.login__agree p a {
  text-decoration: underline !important;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 0.6);
}
.login__label-check {
  display: flex;
  align-items: flex-start;
}
.login__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'myfontRegular';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 18px;
  padding: 16px 90px;
  position: relative;
  background-color: transparent;
  cursor: not-allowed;
}
.login__button-bg {
}
.login__button span {
  position: relative;
  z-index: 1;
  white-space: nowrap;
}
.login__button svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login__button.active {
  cursor: pointer;
}
.login__button.active svg {
  fill: var(--darkBlue);
}
.login__button.active span {
  color: var(--white);
}

/* code-page */
.code__text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #000;
  margin-bottom: 5px;
}
.code__list {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
  margin-top: 25px;
}
.code__list.error li input {
  border-color: var(--error);
}
.code__list.accept li input {
  border-color: var(--green);
}
.code__list li {
  margin-right: 7px;
}
.code__list li:last-child {
  margin-right: 0;
}
.code__list li:nth-child(3) {
  margin-right: 18px;
}
.code__list li input {
  border: 1px solid #c7c7c7;
  border-radius: 14px;
  width: 44px;
  height: 47px;
  background-color: var(--white);
  text-align: center;
  transition: border 0.25s ease-in-out;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #000;
}
.code__list li input:focus-visible,
.code__list li input:focus {
  border-color: var(--darkBlue);
}
.code__error-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  text-align: center;
  color: var(--error);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.code__error-text.error {
  margin-bottom: 4px;
  opacity: 1;
}
.code__text-p {
  font-family: 'myfontRegular';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #a5a5a5;
  margin-bottom: 5px;
  text-align: center;
  display: block;
}
.forms-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 560px;
  height: auto;
  z-index: 10;
}
.forms-popup.active {
  display: block;
}
.login-btn-close {
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border-radius: 108px;
  padding: 2px;
  width: 28px;
  height: 28px;
  background: rgba(0, 0, 0, 0.05);
}
.login__forw-wrapper {
  position: relative;
  width: 100%;
}
.login-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 6;
  display: none;
}
.login-bg.active {
  display: block;
}
.form-problems {
  padding: 52px 64px 64px;
}
.form-problems__btns {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
}
.form-problems__buttin {
  position: relative;
  width: 203px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all 0.2s ease-out;
}
.form-problems__buttin span {
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 1.25;
}
.form-problems__buttin svg {
  position: absolute;
  transition: all 0.2s ease-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-problems__buttin:first-child {
  color: white;
}
.form-problems__buttin:last-child {
  color: #0647c7;
}
.form-problems__buttin:first-child svg {
  fill: #0647c7;
}
.form-problems__buttin:last-child svg {
  fill: white;
}
.form-problems__buttin:first-child:hover svg {
  fill: white;
}
.form-problems__buttin:first-child:hover {
  color: #0647c7;
}
.form-problems__buttin:last-child:hover svg {
  fill: #0647c7;
}
.form-problems__buttin:last-child:hover {
  color: white;
}
@media (max-width: 600px) {
  .form {
    width: 100%;
    max-width: 340px;
    height: min-content;
    min-height: 297px;
    padding: 33px 18px 25px 15px;
    border-radius: 14px;
    background-color: var(--blue);
  }
  .forms-popup {
    top: 50%;
    left: calc((100vw - 340px) / 2);
    transform: translateY(-50%);
    width: 340px;
    height: auto;
  }

  .form-problems__btns {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .login__title {
    font-size: 24px;
    line-height: 1.41667;
    margin-bottom: 8px;
  }
  .code__text {
    font-size: 18px;
    line-height: 1.33333;
  }
  .code__list {
    margin: 21px auto 0;
    width: 160px;
    flex-wrap: wrap;
    gap: 13px 7px;
  }
  .code__list li {
    margin: 0 !important;
  }
  .code__list li input {
    width: 47px;
    height: 51px;
    font-size: 24px;
    line-height: 1;
  }
  .code__text-p {
    font-size: 14px;
    line-height: 1.71429;
    margin-bottom: 2px;
  }
  .login__label input::placeholder {
    font-size: 20px;
  }
  .login__label input {
    font-size: 20px;
  }
  .login__button {
    width: 100%;
    height: 54px;
  }
  .login__button svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media (max-width: 370px) {
  .form {
    width: 100%;
    max-width: 300px;
    height: min-content;
    min-height: 297px;
    padding: 33px 18px 25px 15px;
    border-radius: 14px;
    background-color: var(--blue);
  }
  .forms-popup {
    top: 50%;
    left: calc((100vw - 300px) / 2);
    transform: translateY(-50%);
    width: 300px;
    height: auto;
  }
}
