.body-main .header {
  top: 33px;
  max-width: 1160px;
  left: calc((100vw - 1160px) / 2);
  transform: none;
}
.body-main .header .header__button-block svg {
  fill: rgba(255, 255, 255, 0.3);
}
.body-main .header .header__button-block:hover svg {
  fill: rgba(255, 255, 255, 0.5);
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 36px;
  align-items: center;
  margin-right: 60px;
}
.header__list li a {
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
  color: #fff;
  font-family: 'myfontBold';
}
.header__button-real {
  text-transform: none;
  color: white;
}
@media screen and (max-width: 1200px) {
  .header {
    left: 17px !important;
    transform: none;
    width: calc(100vw - 34px) !important;
  }
}
@media screen and (max-width: 1110px) {
  .header__nav {
    display: none;
  }
  .header {
    width: calc(100vw - 20px) !important;
    left: 10px !important;
    transform: none;
    top: 30px !important;
  }
  .header__container {
    padding: 0;
  }
}
@media (max-width: 550px) {
  .header {
    height: 53px;
    width: calc(100vw - 20px) !important;
    left: 10px !important;
    top: 20px !important;
  }
  .header__logo {
    width: 136px;
    height: 40px;
  }
  .header__wrapper {
    padding: 6px 16px;
  }
}
@media (max-width: 370px) {
  .header {
    height: 53px;
    width: calc(100vw - 20px) !important;
    left: 10px !important;
    top: 20px !important;
  }
}
