.songs {
}
.songs__title {
  font-size: 50px;
  line-height: 0.92;
  /* text-transform: uppercase; */
  text-align: center;
  color: #fff;
  font-family: 'myfontExtraBold';
  margin: 0 auto 18px;
  width: 100%;
  max-width: 772px;
}
.songs__subtitle {
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #fff;
}
.songs__list {
  margin-top: 52px;
  width: 100%;
  max-height: 955px;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.songs__list.expanded {
  height: max-content;
}
.songs__item {
  border-radius: 18px;
  width: 260px;
  height: 406px;
  overflow: hidden;
  background: #fff;
}
.songs__img {
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
  height: 260px;
  margin-bottom: 16px;
}
.songs__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.songs__item-title {
  position: relative;
  padding-left: 42px;
  font-size: 18px;
  line-height: 1;
  color: #000;
  font-family: 'myfontExtraBold';
  margin-bottom: 6px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.songs__item-title::before {
  display: block;
  position: absolute;
  left: 12px;
  top: 0;
  content: '';
  width: 22px;
  height: 18px;
  background-image: url(../../img/songs-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.songs__item-singer {
  font-size: 18px;
  line-height: 1;
  color: #000;
  padding-left: 42px;
}
.songs__item-download {
  font-family: 'myfontExtraBold';

  margin: 16px auto 0;
  width: 228px;
  height: 54px;
  padding: 18px 26px;
  font-size: 20px;
  line-height: 1;
  /* text-transform: uppercase; */
  text-align: center;
  color: #fff;
}
.songs__item-download svg {
  fill: #0073e6;
}
.songs__item-download:hover {
  /* color: var(--darkBlue); */
}
.songs__item-download:hover svg {
  fill: #005cb8;
}
.songs-show-more__button {
  z-index: 3;
  font-family: 'myfontExtraBold';
  font-size: 20px;
  line-height: 1;
  /* text-transform: uppercase; */
  text-align: center;
  color: #0073e6;
  margin: 0 auto 0;
  width: 240px;
  height: 54px;
}
.songs-show-more__button svg {
  fill: #e1f0ff;
}

.songs-show-more__button:hover svg {
  fill: white;
}
.songs-show-more__button span {
  display: block;
  width: 240px;
  margin: 0 auto;
}
.songs-show-more {
  position: relative;
  margin-top: -28px;
}
.songs-show-more.active:after {
  display: none;
}
.songs-show-more.active {
  margin-top: 30px;
}
.songs-show-more::after {
  bottom: 24px;
  transform: rotate(180deg);
  display: block;
  content: '';
  background: linear-gradient(180deg, #0647c7 0%, rgba(6, 71, 199, 0) 100%);
  position: absolute;
  width: 100%;
  height: 215px;
}
@media (max-width: 1200px) {
  .songs__list {
    justify-content: center;
  }
  .songs__title {
    font-size: 42px;
    max-width: 653px;
  }
}
@media (max-width: 650px) {
  .songs__title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .songs__subtitle {
    font-size: 20px;
  }
  .songs__list {
    margin-top: 30px;
    gap: 20px;
  }
  .songs__item {
    width: 159px;
    height: 249px;
    border-radius: 6px;
  }
  .songs__img {
    border-radius: 6px;
    height: 159px;
    margin-bottom: 9px;
  }
  .songs__item-title {
    font-size: 12px;
    margin-bottom: 4px;
    padding-left: 26px;
  }

  .songs__item-title::before {
    width: 14px;
    height: 12px;
    left: 8px;
    /*background-size: contain;*/
    /*background-image: url(../../img/songs-icon-mob.svg);*/
  }
  .songs__item-singer {
    font-size: 12px;
    padding-left: 26px;
  }
  .songs__item-download {
    width: 140px;
    height: 33px;
    margin-top: 8px;
  }
  .songs__item-download svg {
    width: 100%;
    height: 100%;
  }
  .songs__item-download span {
    font-size: 13px;
    line-height: 1;
    white-space: nowrap;
  }
  .songs-show-more {
  }
}
@media (max-width: 550px) {
  .songs__item-title {
    width: 100%;
  }
  .songs__title {
    font-size: 34px;
    line-height: 0.92;
    margin-bottom: 20px;
  }
  .songs__subtitle {
    font-size: 18px;
    padding: 0 20px;
  }
  .songs-show-more {
    margin-top: -18px;
  }
  .songs__list {
    margin-top: 35px;
    gap: 20px;
  }
  .songs__item-download span {
    font-size: 16px;
    line-height: 1;
  }
}
@media (max-width: 370px) {
  .songs__list {
    margin-top: 30px;
    gap: 10px;
  }
  .songs__item {
    width: calc(100% / 2 - 5px);
  }
}
